div.container {
 width: 100%;
 border: 1px solid red;
}
header, footer {
 padding: 1em;
 color: black;
 background-color: pink;
 clear: left;
 text-align: center;
}
nav {
 float: left;
 max-width: 160px;
 margin: 0;
 padding: 1em;
}
nav ul {
 list-style-type: none;
 padding: 0;
}
 
nav ul a {
 text-decoration: none;
}
article {
 margin-left: 170px;
 border-left: 1px solid gray;
 padding: 1em;
 overflow: hidden;
}

.smaller-image{
 width: 100px;
}

#slideshow {
      overflow: hidden;
      height: 510px;
      width: 728px;
      margin: 0 auto;
    }

    .slide-wrapper {
      width: 2912px;
      -webkit-animation: slide 10s ease infinite;
    }

    .slide {
      float: left;
      height: 510px;
      width: 728px;
    }

    .slide:nth-child(1) {
      background: #3BCCD9;
    }

    .slide:nth-child(2) {
      background: #3BCCD9;
    }

    .slide:nth-child(3) {
      background: #36BF66;
    }

    .slide:nth-child(4) {
      background: #36BF66;
    }

   
    .slide-number {
      color: #000;
      text-align: center;
      font-size: 5em;
    }

    @-webkit-keyframes slide {
      20% {margin-left: 0px;}
      30% {margin-left: -728px;}
      50% {margin-left: -728px;}
      60% {margin-left: -1456px;}
      70% {margin-left: -1456px;}
      80% {margin-left: -2184px;}
      90% {margin-left: -2184px;}
    }
